<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-arrow-right"></span><%= poll.name %>
                    </h3>
                </div>
                <div class="panel-body">          
                    <form action="/polls/<%= poll._id%>?_method=PUT" method="POST"> 
                         <% poll['options'].forEach(function(opt){ %>
                                <div class="radio">
                                   <label>
                                      <input type = "radio" name= "optionsRadios" value ="<%= opt.name %>"> <%=opt.name %>
                                   </label>
                                </div>
                        <% }); %>

                       
                        <button class="btn btn-lg btn-primary btn-block">Vote</button>
                     </form>
                  
                </div>
                
                    <a href="/polls/<%=poll._id%>">Go to results</a></div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
