<% include ../partials/header %>


<div class="container">	

	<div class="row">
		<div class="text-center">
			<h3 class="center"><%= currentUser.username %>' Polls </h3>
		</div>
	</div>
	<div class="row" style="display:flex, flex-wrap:wrap;">
		
		<div class="col-sm-6 col-sm-offset-3">
			<ul class="list-group">
		<% polls.forEach(function(poll){ %>
						<li class="list-group-item">
					
				   			<div class="well">	  	
				   			  	<h4> <%=poll.name %> </h4>
				   			  	<a href="polls/<%=poll._id %>" class="btn btn-sm btn-success">Go to Poll</a>
				   			  	<a href="polls/<%=poll._id %>/edit" class="btn btn-sm btn-warning">Edit Poll</a>
			                    <form id="delete-form" action="/polls/<%= poll._id %>?_method=DELETE" method="POST">
              <input  type="submit" class="btn btn-sm btn-danger" value="Delete">
      </form>
					    	</div>
					    	
					 	
					 	</li>
					<%}) %>
			</ul>
		</div>	

	</div>
</div>
<% include ../partials/footer %>